* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100%;
    background-image: url(/IMG/backs.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#all {
    width: 360px;
    height: 720px;
    background-image: url(/IMG/back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 8px;
    padding: 30px;
    border: 1px solid #777;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#box {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border: 1px solid #666;
    border-radius: 5px;
}
#dif {
    color: #fff;
    margin-bottom: 18px;
}
#per {
    color: #fff;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    margin-bottom: 6px;
}
.resp {
    color: #fff;
    font-weight: normal;
    margin-bottom: 6px;
    cursor: pointer;
}
#button {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border: 1px solid #777;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}